export(EBFST, EBGstH, EBDJ)
export(GstN, GstNC, GstH, DJ, thetaWC.pair)
export(read.genepop, read.frequency, clip.genepop)
importFrom("stats", "optim", "rgamma", "sd")
importFrom("utils", "flush.console")
